div.contents {
    max-width: 860px;
}

div.contents {
    margin-left: 8px;
}

body, table, div, p, dl {
    line-height: 1.5;
}

dd {
    margin-left: 10px;
}

div.toolbar,  #nav-sync,
#nav-tree-contents > ul:last-of-type, 
#nav-tree-contents> ul> li> .item,
div.directory .levels {
    display: none !important;
}

#nav-tree-contents> ul> li {
    margin-left: -10px;
}

.ftvtree {
    margin: 0px;
}

.memname, .textblock kbd {
    white-space: nowrap;
    line-height: 0.8;
}


.memdoc, .textblock {
    padding-left: 30px !important;
}

.memdoc p, .textblock p {
    font-size: 14px;
    margin-bottom: 20px;
}

.memdoc {
    background-image: none;
    border-top: 1px solid #a8b8d9;
}

.mdescRight p {
    margin-top: 0px;
}

.contents ul li {
    padding: 2px;
}

.contents img {
    max-height: 300px;
    max-width: 1000px;    
}

.textblock *+h2 {
    margin-top: 50px;
}

.tablist li {
    line-height: 26px !important;
}

.tabs2 .tablist li, .tabs3 .tablist li {
    line-height: 20px !important;
}

#navrow2 {
    opacity: 0.8 !important;
}

#navrow3 {
    opacity: 0.7 !important;
}

#navrow4 {
    opacity: 0.6 !important;
}

.paramtype {
    text-align: right;
}

.params, .retval, .exception, .tparams {
    border-spacing: 6px 2px;
}  

table.doxtable th {
    text-align: left;
}

table.fieldtable, .fieldtable td.fielddoc {
    width: 100%;
}

div.ingroups {
    margin-left: 5px;
    padding-left: 5px;
}

div.headertitle {
    padding: 5px 5px 5px 7px;
}

dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant, dl.deprecated, dl.todo, dl.test, dl.bug
{
    border-left: 4px solid;
    padding: 0 0 0 6px;
}

dl.warning, dl.bug {
    color: #dc322f;
}

dl.attention {
    color: #b58900;
}

dl.deprecated, dl.todo, dl.todo a {
    color: #93a1a1;
}

#projectlogo img { 
    height: 50px;
}

#projectname {
    font: 200% Roboto, sans-serif;
}

div.fragment {
    background: #fdf6e3;
    border-color: #b68900;
    margin: 0px;
    line-height: 1.25;
}

div.fragment pre {
    margin: 0;
}

.memberdecls .memSeparator {
    border: none;
    line-height: 4px;
}

.memberdecls tr:nth-child(4n-2) > td {
    background-color: #fcfbf9;
}

h2.groupheader {
    border: none;
    padding-bottom: 0px;
}

tr.heading h2.groupheader {
    padding-bottom: 8px;
}

.params .paramtype {
    font-style: normal;
}

pre, code, .memItemLeft, .memItemRight, .memname, .params .paramtype {
    font-family: PragmataPro, monospace;
}

div.directory {
    border: 0;
    margin-top: 20px;
}

div.directory tr {
    background-color: #f9fafc;
}

div.directory tr.even {
    background-color: #fcfbf9;
    border: 4px solid white;
}

div.directory td.desc {
    border: 0;
    padding-left: 14px;
}

@media print
{
    pre.fragment {
        overflow: visible;
        text-wrap: unrestricted;
        white-space: -moz-pre-wrap; /* Moz */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* CSS3  */
        word-wrap: break-word; /* IE 5.5+ */
    }
}

